@import '../../shared/mixins/mixin.module.scss';

.container {
	width: 530px;
	height: 530px;

	position: relative;

	margin: 0 auto;

	.button {
		position: absolute;
		z-index: 10;
		width: 5px;
		height: 5px;

		padding: 0;
		margin: 0;

		border: 1px solid #303E5880;
		border-radius: 50%;

		background-color: #42567A;

		overflow: hidden;

		cursor: pointer;

		transition: all 0.3s ease-in-out;

		display: flex;
		align-items: center;
		justify-content: center;

		.buttonContent {
			@include sans-reg;
			font-size: 20px;

			display: block;
			opacity: 0;
			color: #42567A;
			transition: opacity 0.3s ease-in-out;
			transform-origin: center center;
		}

		&:hover {
			width: 57px;
			height: 57px;
			background-color: white;

			margin: -23px 0 0 -23px;

			transition: all 0.3s ease-in-out;

			.buttonContent {
				opacity: 1;
			}
		}
	}

	.buttonName {
		position: absolute;
	}

	.active {
		width: 57px;
		height: 57px;
		background-color: white;

		margin: -23px 0 0 -23px;

		transition: all 0.3s ease-in-out;

		.buttonContent {
			opacity: 1;
		}
	}

	.circle {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		fill: none;
		stroke: #42567A;
	}
}
