@import '../../shared/mixins/mixin.module.scss';

.title {
	@include sans-bold;
	font-size: 56px;
	line-height: 120%;

	color: #42567A;

	margin: 0;

	position: absolute;
	top: 170px;

	max-width: 353px;

	margin-left: 80px;

	display: flex;
	align-items: center;
	justify-content: center;

	@include tablet {
		position: relative;

		margin-top: 30px;
		margin-left: 30px;

		top: 0;

		font-size: 46px;
	}

	@include tablet-small {
		font-size: 36px;

		margin-top: 56px;
		margin-left: 20px;

		max-width: 230px;
	}

	@include mobile {
		font-size: 20px;

		max-width: 120px;
	}

	&::before {
		content: url("../../shared/assets/rgbLineText.svg");

		display: flex;
		align-items: center;
		justify-content: center;

		position: relative;

		left: -80px;

		@include tablet {
			content: '';
		}
	}
}
