.title {
	display: flex;

	justify-content: space-around;
	align-items: center;

	font-size: 200px;
	font-weight: 700;
	line-height: 160px;

	position: relative;
	top: 320px;

	&__start {
		color: #5D5FEF;
	}

	&__end {
		color: #EF5DA8;
	}
}
