@import '../../shared/mixins/mixin.module.scss';

.title {
	display: flex;

	width: 100%;
	max-width: 975px;
	margin: 0 auto;

	justify-content: space-between;
	align-items: center;

	@include sans-bold;
	font-size: 200px;
	line-height: 160px;
	letter-spacing: -2%;

	position: relative;
	top: 330px;

	&__start {
		color: #5D5FEF;
	}

	&__end {
		color: #EF5DA8;
	}
}
